* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    margin-top: 0.4rem;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #000;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: box-shadow 0.3s ease;
}

.cabeçalho-link a:hover {
    box-shadow: 0 0 7px 7px #a923ec7a;
    background-color: #a923ec7a;
  }

.logo{
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    border: 0.1rem solid #a923ec;
    color: #a923ec;
    border-radius: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.logo:hover {
    box-shadow: 0 0 5px 5px #a923ec96;
  }

body {
    background-color: rgb(224, 222, 222);
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.container-img {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-right: 4rem;
}

.imgKamily {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 50%;
    padding: 1%;
    display: block;
    transition: box-shadow 0.3s ease;
}

img:hover {
    box-shadow: 0 5px 10px #a923ec96;
  }

.container-text{
    width: 100%;
    height: 100%;
    text-align: left;
    display: block;
    margin-left: 4rem;
}

.text h3{
    color: #000;
    font-size: 3.2rem;
}

.text h1{
    color: #000;
    margin-top: 0.4rem;
}

.text span{
    color: #a923ec; 
}

.text p{
    color: #000;
    font-weight: 500;
    margin-top: 0.7rem;
    font-size: 1.3rem;
}

.redes-social{
    margin-top: 1.4rem;
}

.redes-social a{
    color: #a923ec;
    padding: 0.5rem;
    margin-top: 0.2rem;
}

#sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 4rem;
}

#sobre h4,h2 {
    margin: 1rem;
}

#contato {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 4rem;
}

.footer {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: #a923ec;
    color: rgb(224, 222, 222);
    font-size: 0.8rem;
}