* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    margin-top: 10px;
}

.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.cabeçalho-link a{
    color: #000;
    font-size: 1rem;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #a923ec;
    color: #a923ec;
    border-radius: 60%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    cursor: pointer;
}

body {
    background-color: rgb(224, 222, 222);
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    max-width: 65rem;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.container-img {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-right: 4rem;
}

.imgKamily {
    width: 480px;
    height: 480px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1%;
    display: block;
}

.container-text{
    width: 100%;
    height: 100%;
    text-align: left;
    display: block;
    margin-left: 4rem;
}

.text h3{
    color: #000;
    font-size: 3rem;
}

.text h1{
    color: #000;
    margin-top: 10px;
}

.text span{
    color: #a923ec; 
}

.text p{
    color: #000;
    font-weight: 500;
    margin-top: 10px;
    font-size: 1rem;
}

.redes-social{
    margin-top: 20px;
}

.redes-social a{
    color: #a923ec;
    padding: 10px;
    margin-top: 5px;
}